form{
    border: 1px solid black;
}


#agenda{
    display: block;
}
.evento{
    display: flex;
}
.nomeColuna{
    display: flex;
    justify-content: center;
    color: white;
    background-color: grey;
    flex-wrap:wrap;
}

li{
    border:2px solid black;
    list-style-type: none;
    width:33%;
}

#categorias{
    display: block;
}
.categoria{
    display: flex;
}

.nomeColuna{
    display: flex;
    justify-content: center;
    color: white;
    background-color: grey;
}
