*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body{
    /* border: 3px dotted green; */
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-image: url('layout_siteINI_2021.png'); */

}
/* PRIMERIA SESSÃO DO SCRIPT: banner */
#banner{
    padding-top: 2%;
    /* border: 3px solid blue; */
    background-color:#d9d7d2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;    
    height: 67vh;
}

/* SEGUNDA SESSÃO DO SCRIPT: menu */
#menu{
    display: flex;
    justify-content: center;
}
#menu #contornoDoMenu{
    padding-top: 2%;
    width: 65%;
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-around;  
    /* flex-wrap: wrap;  */
    height: 30vh;  
}

/* #menu  */
span{
    color: red;
}

#linha-horizontal {
    width: 50%;
    border: 0.4px solid red;
}

#contornoDoMenu ul{
    /* border: 2px solid blue; */
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Sessões sobre a instituição*/
.instituto{
    display:flex;
    flex-direction: row;
    height:70vh ;
    background-color:#cfcccc;
    /* border: 2px solid black; */
}

.instituto .contornoInstituto{
    display: flex;
}

.instituto .contornoInstituto img{
    /* border: 2px solid black; */
    width: 60%;
}

.instituto .contornoInstituto .institutoTexto{
    /* border: 2px dashed rgb(75, 179, 24); */
    width: 40%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.instituto .contornoInstituto .institutoTexto .sobreOInstituto{
    /* border: 1px dotted green; */
    width: 85%;
}

#cursos{
height: 73vh;
background-color:#ccb6b6;
}

#slogan{
    /* background-color: white; */
    height: 53vh;
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}


#seminarios{
    background-color:#ccb6b6;

}

#editora{
    height: 73vh;
    background-color:#cfcccc;
}



#agenda{
    /* height: 100vh; */
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#agenda #eventos{
    display: flex;
    flex-wrap: wrap;
    /* height: 100%; */
    width: 75%;
    justify-content: space-between;
    align-items: center;
}
#agenda .evento{
    /* display: flex; */
    width: 30%;
    /* border: 5px solid red; */
    margin-bottom: 3%;
    flex-direction: column;
    
} 

h3#categoria{
    display: flex;
    width: 75%;
}

#organizador{
    display: flex;
    justify-content: flex;
    align-items:center;
    flex-direction: column;
}

#organizador #tituloArtigo{
    /* border:2px solid red; */
    height: 5vh;
}

#agenda #dataEvento{

}

#agenda #categoria{

}

#agenda #descricao{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    align-items: center;

}

#agenda #imagemEvento{
    width: 200px;
    height: 200px;
}

#artigos{
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    /* border: 5px solid red; */
    background-color: #cfcccc;
}

#artigos #tituloArtigo{
    /* border: 5px solid red; */
    display: flex;
    justify-content:center;
    align-items: center;
    width:100%;
    height: 15%;
}


#artigos div{
    display: flex;
    justify-content:center;
    align-items: center;
    width:100%;
    height:100%;
    /* border: 5px solid red; */

}

footer{
    height: 49vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 5px solid red; */
    background-color: #6b6b6b;
}

footer #footerCima{
    /* border: 5px solid red; */
    padding-top: 1%;
    height:20%;
    display: flex;
    justify-content: center;
    align-items:  center;
}

footer #footerCima #icon{
    width:5%;
    /* height:10%; */
}
footer #footerMeio{
    /* border: 5px solid red; */
    display: flex;
    justify-content:space-around;
    align-items: center;
    width:100%;
    height: 80%;
}

footer #footerMeio img{
    width:150px;
    height:150px;
}

footer #footerBaixo{
    /* border: 5px solid red; */
    height:10%;
    color:white
}