*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body{
    /* border: 3px dotted green; */
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-image: url('layout_siteINI_2021.png'); */

}
/* PRIMERIA SESSÃO DO SCRIPT: banner */
#banner{
    padding-top: 2%;
    /* border: 3px solid blue; */
    background-color:#d9d7d2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;    
    height: 67vh;
}

/* SEGUNDA SESSÃO DO SCRIPT: menu */
#menu{
    display: flex;
    justify-content: center;
}
#menu #contornoDoMenu{
    padding-top: 2%;
    width: 65%;
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-around;  
    /* flex-wrap: wrap;  */
    height: 30vh;  
}

#menu span{
    color: red;
}

#linha-horizontal {
    width: 50%;
    border: 0.4px solid red;
}

#contornoDoMenu ul{
    /* border: 2px solid blue; */
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Sessões sobre a instituição*/
.instituto{
    display:flex;
    flex-direction: row;
    height:70vh ;
    background-color:#cfcccc;
    /* border: 2px solid black; */
}

.instituto .contornoInstituto{
    display: flex;
}

.instituto .contornoInstituto img{
    /* border: 2px solid black; */
    width: 60%;
}

.instituto .contornoInstituto .institutoTexto{
    /* border: 2px dashed rgb(75, 179, 24); */
    width: 40%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.instituto .contornoInstituto .institutoTexto .sobreOInstituto{
    /* border: 1px dotted green; */
    width: 85%;
}

#cursos{
height: 73vh;
background-color:#ccb6b6;
}

#slogan{
    /* background-color: white; */
    height: 53vh;
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}


#seminarios{
    background-color:#ccb6b6;

}

#editora{
    height: 73vh;
    background-color:#cfcccc;
}



#agenda{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#agenda #eventos{
    display: flex;
    flex-wrap: wrap;
    /* height: 100%; */
    width: 75%;
    justify-content: space-between;
    align-items: center;
}
#agenda .evento{
    display: flex;
    /* border: 5px solid red; */
    flex-direction: column;
    
} 

#agenda #dataEvento{

}

#agenda #categoria{

}

#agenda #descricao{

}

#agenda #imagemEvento{
    width: 200px;
    height: 200px;
}

#artigos{
    height: 100vh;
    /* border: 5px solid red; */
    background-color: #cfcccc;


}

#footer{
    height: 49vh;
    /* border: 5px solid red; */
    background-color: #6b6b6b;
}